/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
header {
background-image: url('../images/apple-pie.jpg');
background-size: cover;
background-position: center;
height: 400px;
display: flex;
align-items: center;
justify-content: center;
}

h1 {
  color: white;
}

main {
  max-width: 70%;
  margin: 0px auto;
  padding: 40px;
}

.ingredientsList {
  list-style: none;
  padding-left: 1.2rem;
  line-height: 22px;
}

.ingredientsList li::marker {
  content: "- ";
}

.directionsList {
  list-style: none;
  counter-reset: num;
}

.directionsList li {
  counter-increment: num;
}
.directionsList li::before {
  content: counter(num) ") ";
}

.recipeInfo {
width: 50%;
height: 60px;
display: block;
margin: 20px auto;
}

.cookingInfo {
width: 20em;
height: 5em;
display: block;
margin: auto;
}